# Bibliotecas obrigatórias para o funcionamento e avaliação da Rede Neural MLP
numpy>=1.20.0          # Operações matriciais e manipulação de arrays (Fase Forward e Backward)
matplotlib>=3.4.0     # Geração de gráficos de convergência do erro (MSE) para o vídeo